table {
    width: 100%;
    margin: 20px auto;
  }
  
  tr {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
  }
  
  tr:nth-child(odd) {
    background-color: darkgray;
  }
  
  nav {
    border: 1px solid #000;
    padding: 10px;
  }
  
  section {
    padding: 10px;
  }
  
  a {
    color: #000;
    text-decoration: none;
    border-right: 1px solid #000;
    padding-right: 5px;
  }
  
  a.active {
    color: #add8e6;
  }
  
  h2 {
    text-align: center;
  }
  
  li {
    list-style: none;
    float: left;
    margin: 10px;
  }
  
  .add-new {
    margin: 10px auto;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  
  .date {
    display: flex;
    width: 90%;
    justify-content: flex-end;
  }
  
  .bookSection {
    display: flex;
  }
  
  .hide {
    display: none;
  }
  